/Makefile
/Makefile.in
/*.o
/seahorse-pgp-controls
/Seahorse_PGP_Controls.server
/Seahorse_PGP_Controls.server.in
/seahorse-marshal.c
/seahorse-marshal.h
/.deps
/.libs
/*.la
/*.lo
/*.bak
/*.a
/*.rej
/xloadimage
/seahorse-ssh-askpass
/*.loT
/seahorse-shell-search-provider-generated.c
/seahorse-shell-search-provider-generated.h
