*.o
*.a
*.lo
*.la
*.stamp
*.bak
*.gcno
*.gcda
*.tmp
.tm*
~*
tmp-*
*~
*.stamp-t
*.valid

Makefile
Makefile.in
.deps
.libs

/*.tar.gz

/aclocal.m4
/configure.lineno
/autom4te.cache
/config.log
/config.status
/config.guess
/config.h*
/config.sub
/configure
/depcomp
/seahorse-?.?.?
/junk
/intltool-*
/install-sh
/libtool
/ltmain.sh
/m4/
/mkinstalldirs
/missing
/stamp-h1

# Eclipse project files
/.*project
/.settings

# Anjuta project files
/*.anjuta
/*.tasks
/*.pws
/*.prj

/help/*/index.docbook
/help/*/legal.xml

/build/config.h*
/build/m4/*
/build/aux/*
/build/stamp-h1

/common/*.c
/common/*.h
/common/common.vapi
