*.o
*.a
*.lo
*.la
*.stamp

/configure.lineno
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.*
/configure
/depcomp
/seahorse.spec
/stamp*
/seahorse.p*
/.tm*
/compile
/*.tar.gz
/*.pws
/*.prj
/seahorse-?.?.?
/junk
/gnome-doc-utils.make
/*.anjuta
/*.tasks
/install-sh
/intltool-*
/libtool
/ltmain.sh
/missing
/mkinstalldirs
*.tmp
/gtk-doc.make

