*.o
*.a
*.lo
*.la
*.stamp
*.bak
*.gcno
*.gcda
*.tmp
.tm*
~*
tmp-*
*~
*.valid

/configure.lineno
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.*
/configure
/depcomp
/stamp*
/seahorse.p*

/compile
/*.tar.gz
/seahorse-?.?.?
/junk
/install-sh
/intltool-*
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/gtk-doc.make

# Eclipse project files
/.*project
/.settings

# Anjuta project files
/*.anjuta
/*.tasks
/*.pws
/*.prj

/help/*/index.docbook
/help/*/legal.xml

