.seahorse-sidebar-item-header {
  margin-top: 6px;
  font-weight: bold;
}

.seahorse-sidebar-item {
  margin: 0 3px 0 12px;
}

.seahorse-sidebar-item > label {
  margin: 3px 0 3px 0;
}

.seahorse-sidebar-item > button {
  padding: 0;
  margin: 0;
}

.seahorse-item-listbox {
  min-width: 400px;
}

.seahorse-item-listbox-row {
  margin: 12px;
}

.seahorse-item-listbox-row image {
  margin: 6px 18px 6px 6px;
}

.seahorse-item-listbox-row > .seahorse-item-listbox-row-description {
  font-size: small;
}

.new-item-list {
}

.new-item-list label {
    font-weight: normal;
}

.seahorse-qr-code-dialog-qr-image {
  background: #fff;
  padding: 12px;
}

.pane-separator {
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: shade (@theme_bg_color, 0.66);
}

/* Used to provide a little cutout around an overlayed circular button */
.seahorse-cutout-button {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
  border-radius: 9999px;
  padding: 2px;
}

.pgp-subkey-usage-label {
  border: 1px solid shade(@theme_bg_color, 0.9);
  background-color: shade(@theme_bg_color, .95);
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 4px;
}

:selected .pgp-subkey-usage-label {
  background-color: shade(@theme_selected_bg_color, .95);
}

levelbar .strength-weak {
  background-color: #cc0000;
  border-color: #cc0000;
}

levelbar .strength-low {
  background-color: #f5ce00;
  border-color: #f5ce00;
}

levelbar .strength-medium,
levelbar .strength-good,
levelbar .strength-high {
  background-color: #73d216;
  border-color: #73d216;
}
